# 忽略文件夹
weibo_details*/
weibo_details_test/
weibo_results*/
zhihu/zhihu_results*/
xhs/xhs_results*/
toutiao/
weixin/weixin_articles
weixin/weixin_comments
douyin/douyin_results*
douyin/all_data*
all_data/
__pycache__/
*final_results/
*results_final/
sample_data/

# 忽略文件
.env
.gitignore

weixin/url.xlsx

weibo_cookie.json
zhihu_cookie*.json
xhs/all_data*.json
douyin/diff_data*.json

zhihu_data*.csv
comments*.csv

*.txt

qwen*.py
utils.py